<div *ngIf="actorsDB.length>0&&movieDB.length>0">
        <div class="form-group">
          <label for="selectedActor">Selected Actor Name</label>
          <input type="text" class="form-control" id="selectedActor" [(ngModel)]="selectedActor" READONLY/>
        </div>

        <div class="form-group">
          <label for="selectedTitle">Selected Movie Title</label>
          <input type="text" class="form-control" id="selectedTitle" [(ngModel)]="selectedTitle" READONLY/>
        </div>

        <br>
        <button type="submit" class="btn btn-primary" (click)="onAddActor2Movie()">Add Actor To Movie</button>
      </div>
    
    <hr>

    <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Select</th>
    </tr>
    <tr *ngFor="let item of actorsDB">
      <td>{{item.name}}</td>
      <td>{{item.bYear}}</td>
      <td><button type="submit" class="btn btn-info" (click)="onSelectActor(item)">Select</button></td>
    </tr>
  </table>

  <hr>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Select</th>
    </tr>
    <tr *ngFor="let item of movieDB">
      <td>{{item.title}}</td>
      <td>{{item.year}}</td>
      <td><button type="submit" class="btn btn-info" (click)="onSelectMovie(item)">Select</button></td>
    </tr>
  </table>
